---
import "../styles/global.css";
---

<div class="slider">
  <div class="fw-container">
    <div class="heading-wrapper">
      <div class="hd-subtext">
        Design studio specializing in branding, web development and packaging
        design.
      </div>

      <div class="hd-headline"><span>Where ideas</span></div>
      <div class="hd-headline"><span>turn into</span></div>
      <div class="hd-headline"><span>meaningful</span></div>
      <div class="hd-headline"><span>digital solutions.</span></div>
      
    </div>
    <div class="hd-project-wrapper">
      <div class="hd-project-name">Carbon Cannabis<br />Branding and Web</div>
      <div class="next-project-btn">Next Project</div>
    </div>
  </div>

  <img src="/public/images/test-background.png" class="slide active" />
  <img src="/public/images/test-2.webp" class="slide" />
  <img src="/public/images/test-3.webp" class="slide" />
</div>

<script>
  const slides = document.querySelectorAll(".slide");
  let currentSlide = 0;

  function nextSlide() {
    slides[currentSlide].classList.remove("active");
    currentSlide = (currentSlide + 1) % slides.length;
    slides[currentSlide].classList.add("active");
  }

  setInterval(nextSlide, 6000);
</script>

<style>
  .slider {
    position: relative;
    height: 1100px;
    width: 100%;
    overflow: hidden;
  }

  .slide {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms ease-in-out;
    z-index: -100;
  }

  .slide.active {
    opacity: 1;
    z-index: -99;
  }
</style>
