---
import "../styles/global.css";
---

<section>
  <h2 class="section-title">Featured<br />work.</h2>

  <div class="ftr-project flex jf-sb">
    <div class="featured-img" id="ftr-1">
      <img src="/public/images/test-2.webp" alt="" />
    </div>
    <div class="featured-text">
      <h4>Sunnalight Cosmetics</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  <div class="ftr-project flex jf-sb">
    <div class="featured-text">
      <h4>Sunnalight Cosmetics</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="featured-img" id="ftr-2">
      <img src="/public/images/test-3.webp" alt="" />
    </div>
  </div>
  <div class="ftr-project flex jf-sb">
    <div class="featured-img" id="ftr-3">
      <img src="/public/images/test-2.webp" alt="" />
    </div>
    <div class="featured-text">
      <h4>Sunnalight Cosmetics</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
</section>

<style>
  .featured-img {
    cursor: url("/public/images/view-cursor.svg") 10 10;
  }
  #ftr-1 img {
    width: 900px;
    height: 600px;
    object-fit: cover;
    object-position: center;
  }

  #ftr-2 img {
    width: 700px;
    height: 800px;
    object-fit: cover;
    object-position: center;
  }

  #ftr-3 img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .featured-text {
    max-width: 300px;
  }

  .ftr-project {
    margin-bottom: 160px;
    opacity: 0;
    transform: translateY(200px);
    transition: all 1500ms ease-out;
  }

  .ftr-project.visible {
    opacity: 1;
    transform: translateY(0px);
  }
</style>

<script>
  const elements = document.querySelectorAll(".ftr-project");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.intersectionRatio >= 0.5) {
          entry.target.classList.add("visible"); /* add the 'visible' class */
        }
      });
    },
    { threshold: 0.5 }
  );

  elements.forEach((element) => {
    observer.observe(element);
  });

  elements.forEach((element) => {
    observer.observe(element);
  });
</script>
